@model IEnumerable<ESL.Web.Areas.Dashboard.Models.ViewModels.Model_Payment>
@using ESL.Common.Plugins

@{
    ViewBag.Title = "تراکنش ها";
    Layout = "~/Areas/Dashboard/Views/Shared/_Master.cshtml";
}

<div class="panel panel-body panel-default navigation">

    <div class="pull-left">
        <h4 class="navigation-title"><b>@ViewBag.Title</b></h4>
    </div>

    <div class="pull-right">
        <a href="@Url.Action("Create", "Payment", new { area = "Dashboard" })" data-toggle="tooltip" data-placement="auto" title="تراکنش جدید">
            <i class="glyphicon glyphicon-plus navigation-btn-icon"></i>
        </a>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-body table-body" style="overflow-x:auto;">
        <table id="DateTable" class="table table-bordered table-striped table-secondary" style="width:100%;">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.User)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.State)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Way)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Cost)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Discount)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.RemaingWallet)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.TrackingToken)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Document)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.CreateDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ModifiedDate)</th>
                    <th scope="col" data-orderable="false">کنترل</th>
                </tr>
            </thead>

            <tbody>

                @{
                    int x = 0;
                }

                @foreach (var item in Model)
                {
                    x++;

                    <tr>
                        <td scope="row">@x</td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.User)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Title)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.State)</span>
                        </td>
                        <td scope="row">
                            <span>@(item.Way == null ? "ثبت نشده" : item.Way)</span>
                        </td>
                        <td scope="row">
                            <span>@(item.Description == null ? "ثبت نشده" : item.Description)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Cost)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Discount)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.RemaingWallet)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.TrackingToken)</span>
                        </td>
                        <td scope="row">
                            <span>@(item.Document == null ? "ثبت نشده" : item.Document)</span>
                        </td>
                        <td scope="row">
                            <span>@PersianDateExtensionMethods.ToPeString(item.CreateDate, "yyyy/MM/dd HH:mm")</span>
                        </td>
                        <td scope="row">
                            <span>@PersianDateExtensionMethods.ToPeString(item.ModifiedDate, "yyyy/MM/dd HH:mm")</span>
                        </td>
                        <td scope="row">
                            <a class="control btn btn-info btn-sm glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="auto" title="تغییر وضعیت تراکنش" href="javascript:void(0)" onclick="ChangeState(@item.ID)"></a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>

@Html.Partial("_Modal")

@section Modal {
    <script>
        function ChangeState(id) {
            $.ajax({
                url: "/Dashboard/Payment/ChangeState/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('تغییر وضعیت تراکنش');
                $('#myModalBody').html(result);
            });
        }
    </script>
}
