@model ESL.Web.Areas.Dashboard.Models.ViewModels.Model_Register
@using ESL.Services.BaseRepository



<div id="signup">

    <h3 class="text-center" style="">ثبت نام</h3>

    @using (Html.BeginForm("_Register", "Account", FormMethod.Post, new { area = "Dashboard" }))
    {
        @Html.AntiForgeryToken()
        <div class="login-items">

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "" } })

                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Family, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.Family, new { htmlAttributes = new { @class = "" } })

                @Html.ValidationMessageFor(model => model.Family, "", new { @class = "text-danger" })
            </div>
                        @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label " })
            <div class="form-group" style="display: table; width: 100%;">

                    <div class="time">

                        @Html.EditorFor(model => model.Day, new { htmlAttributes = new { @class = "" , @placeholder = "روز", style = "border-left: none;" } })

                        @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
                    </div>
                    <div class="time">

                        @Html.EditorFor(model => model.month, new { htmlAttributes = new { @class = "", @placeholder = "ماه", style = "border-left: none;" } })

                        @Html.ValidationMessageFor(model => model.month, "", new { @class = "text-danger" })
                    </div>
                    <div class="time">

                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "" , @placeholder = "سال" } })

                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.IdentityNumber, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.IdentityNumber, new { htmlAttributes = new { @class = "" } })

                @Html.ValidationMessageFor(model => model.IdentityNumber, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label " })

                <div class="Login-btn-gender" data-toggle="buttons">

                    @foreach (var item in Rep_CodeGroup.Get_AllCodesWithGroupGUID(CodeGroup.Gender))
                    {
                        <label class="btn">
                            @Html.RadioButtonFor(model => model.Gender, item.Value, new { htmlAttributes = new { @class = "form-control" } })
                            @item.Text
                        </label>
                    }

                </div>
            </div>

            <br />
            <br />

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "" } })

                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "" } })

                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "" } })

                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PasswordVerify, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.PasswordVerify, new { htmlAttributes = new { @class = "" } })

                @Html.ValidationMessageFor(model => model.PasswordVerify, "", new { @class = "text-danger" })
            </div>


        </div>

        <input type="submit" name="name" value="ثبت نام" class="btn btn-block esl-btn esl-btn-success esl-btn-L " />

    }

</div>



