@model ESL.Web.Areas.Dashboard.Models.ViewModels.Model_Questions

@using ESL.Common.Plugins

@{
    ViewBag.Title = "لیست سوالات";
    Layout = "~/Areas/Dashboard/Views/Shared/_Master.cshtml";
}


<div class="panel panel-body panel-default  navigation">

    <div class="pull-left">
        <h4 class="navigation-title"><b>لیست سوالات</b></h4>
    </div>

    <div class="pull-right">
        <a href="@Url.Action("CreateQuestion", "ExamRemotely", new { id = Model.ExamID })"><i class="glyphicon glyphicon-plus navigation-btn-icon"></i></a>
    </div>

</div>

<div class="panel panel-default">

    <div class="panel-body table-body" style="overflow-x:auto;">

        <table id="DateTable" class="table  table-bordered table-striped table-secondary" style="width:100%;">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">عنوان</th>
                    <th scope="col">نوع</th>
                    <th scope="col">گروه</th>
                    <th scope="col">پاسخ</th>
                    <th scope="col">نمره</th>
                    <th scope="col">تاریخ ایجاد</th>
                    <th scope="col" data-orderable="false">کنترل</th>
                </tr>
            </thead>

            <tbody>

                @{
                    int x = 0;
                }

                @if (Model.Questions != null)
                {
                    foreach (var item in Model.Questions)
                    {
                        x++;

                        <tr>
                            <td scope="row">@x</td>
                            <td scope="row">
                                <span> @Html.DisplayFor(modelItem => item.Title) </span>
                            </td>
                            <td scope="row">
                                <span> @Html.DisplayFor(modelItem => item.Type) </span>
                            </td>
                            <td scope="row">
                                <span> @Html.DisplayFor(modelItem => item.Group) </span>
                            </td>
                            <td scope="row">
                                <span> @Html.DisplayFor(modelItem => item.Response) </span>
                            </td>
                            <td scope="row">
                                <span> @Html.DisplayFor(modelItem => item.Mark) </span>
                            </td>
                            <td scope="row">
                                <span> @PersianDateExtensionMethods.ToPeString(item.CreationDate, "yyyy/MM/dd") </span>
                            </td>
                            <td scope="row">
                                <a class="control btn btn-info btn-sm glyphicon glyphicon-list" href="@Url.Action("Details", "ExamRemotely", new { id = item.ID })"></a>
                                <a class="control btn btn-warning btn-sm glyphicon glyphicon-pencil" onclick="Edit(@item.ID)"></a>
                                <a class="control btn btn-danger btn-sm glyphicon glyphicon-trash" onclick="Delete(@item.ID)"></a>
                            </td>
                        </tr>
                    }
                }

            </tbody>

        </table>

    </div>

</div>


@Html.Partial("_Modal")


@section Scripts {

    <script>

        function Delete(id) {
            $.ajax({
                url: "/Dashboard/Exam/DeleteQuestion/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('حدف آزمون');
                $('#myModalBody').html(result);
            });
        }

        //function Create(id) {
        //    $.ajax({
        //        url: "/Dashboard/Exam/CreateQuestion/" + id,
        //        type: "Get",
        //        data: {}
        //    }).done(function (result) {
        //        $('#myModal').modal('show');
        //        $('#myModalLabel').html('طرح سوال');
        //        $('#myModalBody').html(result);
        //    });
        //}

        function Edit(id) {
            $.ajax({
                url: "/Dashboard/Exam/EditQuestion/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('ویرایش آزمون');
                $('#myModalBody').html(result);
            });
        }

    </script>

}
