
<ul class="navbar nav aside-panel">

    <li>
        <img src="~/Content/Images/abstract-user-flat-3.png" alt="Logo" class="img-responsive img-rounded img-logo" style="height:200px;">
        <a href="@Url.Action("Index", "Dashboard" , new { area = "Dashboard" })">
            <i class="glyphicon glyphicon-dashboard  "></i>
            داشبورد
        </a>
    </li>

    <li data-toggle="collapse" data-target="#sub-menu-site">

        <a href="#">
            <i class="glyphicon glyphicon-book"></i>
            مدیرت سایت
            <i class="glyphicon glyphicon-chevron-right pull-right gly-rotate-90"></i>
        </a>

        <ul class="collapse nav aside-sub-panel " id="sub-menu-site">

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    صفحه اصلی
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    درباره ما
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    ارتباط با ما
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    آرشیو اخبار
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    دروه های آموزشی
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    گالری تصاویر
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    مشتریان ما
                </a>
            </li>

        </ul>

    </li>

    <li data-toggle="collapse" data-target="#sub-menu-message">

        <a href="#">
            <i class="glyphicon glyphicon-book"></i>
            پیام ها
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
        </a>

        <ul class="collapse nav aside-sub-panel" id="sub-menu-message">

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    ارسال پیام
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    ارسال پیام گروهی
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست پیام های دریافتی
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست پیام های ارسالی
                </a>
            </li>

        </ul>

    </li>

    <li data-toggle="collapse" data-target="#sub-menu-pay">

        <a href="javascript:void(0)">
            <i class="glyphicon glyphicon-book"></i>
            مالی
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
        </a>

        <ul class="collapse nav aside-sub-panel" id="sub-menu-pay">

            <li>
                <a href="@Url.Action("Index", "Wallet")">
                    <i class="glyphicon glyphicon-book"></i>
                    اعتبار کاربران
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Payment")">
                    <i class="glyphicon glyphicon-book"></i>
                    تراکنش ها
                </a>
            </li>

            <li>
                <a href="@Url.Action("Confirmed", "Payment")">
                    <i class="glyphicon glyphicon-book"></i>
                    تراکنش های تایید شده
                </a>
            </li>

            <li>
                <a href="@Url.Action("WaitForAcceptance", "Payment")">
                    <i class="glyphicon glyphicon-book"></i>
                    تراکنش های تایید نشده
                </a>
            </li>

            <li>
                <a href="@Url.Action("Suspended", "Payment")">
                    <i class="glyphicon glyphicon-book"></i>
                    تراکنش های معلق
                </a>
            </li>

            <li>
                <a href="@Url.Action("Rejected", "Payment")">
                    <i class="glyphicon glyphicon-book"></i>
                    تراکنش های رد شده
                </a>
            </li>

        </ul>

    </li>

    <li data-toggle="collapse" data-target="#sub-menu-exam">

        <a href="javascript:void(0)">
            <i class="glyphicon glyphicon-book"></i>
            آزمون ها
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
        </a>

        <ul class="collapse nav aside-sub-panel" id="sub-menu-exam">

            <li>
                <a href="@Url.Action("Index", "ExamRemotely")">
                    <i class="glyphicon glyphicon-book"></i>
                    آزمون های غیر حضوری
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "ExamInPerson")">
                    <i class="glyphicon glyphicon-book"></i>
                    آزمون های حضوری
                </a>
            </li>

        </ul>

    </li>

    <li data-toggle="collapse" data-target="#sub-menu-class">

        <a href="javascript:void(0)">
            <i class="glyphicon glyphicon-book"></i>
            کلاس ها
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
        </a>

        <ul class="collapse nav aside-sub-panel" id="sub-menu-class">

            <li>
                <a href="@Url.Action("Index", "Class")">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست کلاس ها
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Presence")">
                    <i class="glyphicon glyphicon-book"></i>
                    حضور غیاب
                </a>
            </li>

        </ul>

    </li>

    <li>
        <a href="@Url.Action("Index", "Workshop", new { area = "Dashboard" })">
            <i class="glyphicon glyphicon-book"></i>
            کارگاه ها
        </a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Setting")">
            <i class="glyphicon glyphicon-book"></i>
            تنظیمات سامانه
        </a>
    </li>

</ul>
